body {
    font-family: 'PT Sans', sans-serif;
}

.container-fluid {
    background: url("/public/images/bg_contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

hr {
    border: 1px solid #354458;
}

.panel {
    margin-top: 50px;
    margin-right: 10px;
}

.col-md-8 > button {
    display: block;
    margin: auto;
}

.social > a {
    width: 100%;
}
